repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0  # pre-commit-hooks version
    hooks:
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ['--maxkb=1500']
      - id: check-case-conflict
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: mixed-line-ending
        args: [ --fix=lf ]
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10  # ruff version
    hooks:
      - id: ruff-format
      - id: ruff-check
        args: [ --fix, --exit-non-zero-on-fix ]
minimum_prek_version: 0.2.23
