[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
disease-normalization = {editable = true, path = "."}
pytest = "*"
pytest-cov = "*"
flake8 = "*"
flake8-docstrings = "*"
pre-commit = "*"
coveralls = "*"
coverage = "*"
ipykernel = "*"
matplotlib = "*"

[packages]
pydantic = "*"
fastapi = "*"
click = "*"
owlready2 = "*"
boto3 = "*"
requests = "*"
rdflib = "*"
uvicorn = "*"
uvloop = "*"
websockets = "*"
httptools = "*"
typing-extension = "*"

[requires]
python_version = "3.7"
