[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
disease-normalizer = {editable = true, path = "."}
wags-tails = "*"
requests = "*"
owlready2 = "*"
rdflib = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
ipykernel = "*"
matplotlib = "*"
lxml = "*"
xmlformatter = "*"
psycopg = {version = "*", extras=["binary"]}
ruff = "==0.5.0"
httpx = "*"

[packages]
pydantic = "*"
fastapi = ">=0.72.0"
uvicorn = "*"
boto3 = "*"
click = "*"
"ga4gh.vrs" = "~=2.0.0a1"
